body { font-family: Tahoma, Arial, Verdana; font-size: 12px; 	color: black; }

#chartdiv, #chartdiv2 {
	position: absolute;
	top:49px;
}

#chartdiv {
	z-index: 5;
}

#debugpanel {
	bottom: 0px;
	left: 900px;
}

#infopanel {
	left: 0px;
	top: 90px;
}

#debugpanel,#infopanel {
	position: absolute;
}

#balloons, #debugpanel,#infopanel {
	z-index: 1000;
}

#holder {
height: 600px;
margin: -300px 0 0 -300px;
width: 600px;
position: absolute;
left: 50%;
top: 251px;
}
#time {
text-align: center;
font: 100 3em "Helvetica Neue", Helvetica, Arial, sans-serif;
width: 400px;
margin-top: 0px;
}

#circlediv {
	height: 600px;
	width: 600px;
	margin: -300px 0 0 -300px;
	position: absolute;
	left: 50%;
	top: 250px;
}
#circle {
	position: absolute;
	left: 50%;
	top: 250px;
	z-index: 10;
    background: #fff;
    width: 100px;
    height: 100px;
    margin-left: -43px;
    border-radius: 50%;
}

#scorepanel {
	z-index: 3200;
	position:absolute
	top: 100px;
}